header{
 background-color: rgb(0, 110, 255);
 padding: 20px;
}
nav{
    background-color: rgb(255, 30, 0);
    padding: 10px;
}
section{
    grid-column: 1/4;
    background-color: rgb(255, 238, 0);
    padding: 20px;
}
aside{
    grid-column:4/5 ;
    background-color: rgb(0, 255, 0);
    padding: 30px;
}
footer{
    background-color: rgb(212, 0, 255);
    padding: 35px;
}
div{
    display: grid;
    grid-template-columns: 40% 30% 30% 30;
}

ul{
    list-style-type:none;
    margin: :0px;
    padding: 0px;
    background:#008b8b;
    overflow:hidden;

}

li{
    float:left;

}
li a{
    display: block;
    color:white;
    text-align: center
    padding; 16px 16px ;
    text-decoration:none;
    border-right: 1px solid navy;

        
    
}
li a:visitade{
    color: rgb(59, 61, 61);
    
}

nav > li {
    float: left;
}


